@using RealEstateManager.Utils
@model List<RealEstateManager.Areas.Public.Models.Estate.EstateGetModel>

@{
    ViewBag.Title = Localization.GetString("EstateIndexPage_Title");
}

<div class="card">
    <div class="card-header bg-primary text-white">
        <h3>@Localization.GetString("EstateIndexPage_Header")</h3>
    </div>
    <div class="card-body bg-light">
        @if (Model != null && Model.Count > 0 )
        {
            <div class="container">
                @foreach (var estate in Model)
                {
                    <div class="row">
                        @if (estate.ExistingImagePaths != null && estate.ExistingImagePaths.Count > 0)
                        {
                            @Html.Partial("_IndexItemWithGallery", estate)
                        }
                        else
                        {
                            @Html.Partial("_IndexItem", estate)
                        }
                    </div>
                }
            </div>
        }
        else
        {
            <p>@Localization.GetString("EstateGet_NoEstates_Error")</p>
        }
    </div>
</div>
